body {
  font-family: "VT323", monospace;
  background-color: #202030;
  margin: 0;
  color: #fffffc;
}

h1 {
  margin: 0;
  line-height: 62px;
  font-size: 62px;
  font-weight: 400;
}

button {
  width: 100%;
  font-family: "VT323", monospace;
  font-size: 32px;
  line-height: 32px;
  padding: 12px;
  border-radius: 15px;
}

.page-wrapper {
  overflow: hidden;
}

.game-section {
  width: 98.5.6vw;
  height: 97.5vh;
  border-color: #fffffc;
  border-style: solid;
  border-width: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.computer-wrapper {
  display: flex;
  justify-content: center;
  margin: 0px 0px 44px 0px;
}

.computer {
  position: relative;
}

.computer-sign {
  position: absolute;
  z-index: 1;
  margin-top: 47px;
  height: 152px;
  width: 192px;
  opacity: 20%;
  border-radius: 15px;
}

.emoji-wrapper {
  position: absolute;
  z-index: 2;
  margin-top: 74px;
}

.computer-emoji {
  opacity: 50%;
}

.player_choices-wrapper {
  display: flex;
  gap: 42px;
}

.player-choice {
  background-color: #32324b;

  display: flex;

  padding: 18px 35px;
  border-radius: 30px;
}
.player-choice:hover{
  background-color: #3E3E5B;
}
.player-choice:active{
  background-color: #48486B;
}


.result-wrapper {
  margin: 0px auto;
  max-width: 266px;
}

.result-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 42px auto;

  background-color: #32324b;
  border-radius: 30px;
  height: 166px;
}

.scores-wrapper {
  display: flex;
}

.scores {
  margin: 0px 10px;
}

.enlarge{
  font-size: 81px;
}

#final-result {
  display: none;
}

#play-again {
  display: none;
}
#play-again:hover{
  opacity: 90%;
}
#play-again:active{
  opacity: 80%;
}

